@charset "utf-8";
/* CSS Document */
.input2{
	/*width: 1000px;*/
	margin: auto;
	height: 70%;
	margin-bottom: 50px;
	background-color: #E8DDC5;
	border-radius: 3px;
	color: #6C3F00;
	border: 2px solid rgba(71,46,10,0.88);
	background-image: url(../img/windows/win-head2.png);
	background-repeat: no-repeat;
	background-size: contain;
	padding: 10px;
	}
.from_date{
	width: 110px;
	height: 40px;
	background-color: #E8DDC5;
	text-align: center;
	color: #9B6529;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	text-shadow: 0 0;
	font-weight: bold;
	background-image: url(../img/reward2.png);
	border-width: 0px;
	background-size: 110px 30px;
	background-repeat: no-repeat;
	background-position: 90% 50%;
}
.input1{
 width: 70%;
 min-width: 700px;
 margin: auto;
 /*background-color: #E8DDC5;*/
 padding: 1px;
}
.inpur{
	margin: 20px;
    white-space: nowrap;
	margin-top: 150px;
    /*background-color: #E8DDC5;*/
	}
.info{
	margin: auto;
	/*height: 210px;*/
	width: 900px;
	background-image: url(../img/windows/housing.png);
	background-repeat: no-repeat;	
}
.in_info{
	margin-left: 200px;
	width: 500px;
}
.event_name{
	width: 180px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background-image: url(../img/reward2.png);
	font-size: 18px;
}
.date{
	background-image: url(../img/ev_name_bg.png);
	width: 173px;
	height: 38px;
	text-align: center;
	line-height: 40px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	color: #432E16;
	/* [disabled]font-style: oblique; */
	font-weight: bold;
}
.banks{
	width: 300px;
	clear: both;
}
.bank{
	display: inline-block;
	float: left;
	width: 150px;
	height: 40px;
	background-image: url(../img/ev_name_bg.png);
	text-indent: 50px;
	line-height: 40px;
}
.bill{
	width: 80px;
	height: 40px;
	background-color: #E8DDC5;
	text-align: center;
	color: #9B6529;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	text-shadow: 0 0;
	font-weight: bold;
	background-image: url(../img/reward2.png);
	border-width: 0px;
	background-size: 70px 30px;
	background-repeat: no-repeat;
	background-position: 90% 50%;
	display: inline-block;
	float: left;
}
.gold{
	display: inline-block;
	float: left;
}
.salary{
	width: 400px;
	clear: both;
}
.salary_cell{
	width: 90px;
	height: 30px;
	margin: 1px;
	display: inline-block;
	float: left;
	text-align: center;
	text-shadow: 1px 1px 1px #4349B4;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 3px;
	background-color: #4B8BB3;
	border-bottom: 5px solid #27485D;
	-webkit-box-shadow: 2px 2px 5px #564521;
	box-shadow: 2px 2px 5px #564521;
	}
.parts{
	width: 80px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	display: inline-block;
	float: left;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	text-shadow: 0 0;
	font-weight: bold;
	background-image: url(../img/reward2.png);
	border-width: 0px;
	background-size: 70px 30px;
	background-repeat: no-repeat;
	background-position: 90% 50%;
}
.button{
	width: 200px;
	height: 50px;
	border-radius: 3px;
	margin-top: 10px;
	background-image: url(../img/default.png);
	background-repeat: no-repeat;
	background-size: 200px 50px;
	border-width: 0px;
}
.members{
	min-width: 500px;
}
.raid_tr{
	border-bottom: 1px solid #432E16;
	width: 200px;
	min-height: 200px; 
}
.raid{
	width: 500px;
	/*height: 200px;*/
	border-bottom: 1px solid #432E16;
	}
.raid_col{
	width: 95px;
	/*height: 35px;*/
	margin-top: 5px;
	display: inline-block;
	float: left;
}
.raid_cell{
	width: 90px;
	height: 30px;
	margin: 1px;
	text-align: center;
	text-shadow: 1px 1px 1px #4349B4;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 3px;
	background-color: #4B8BB3;
	border-bottom: 5px solid #27485D;
	-webkit-box-shadow: 2px 2px 5px #564521;
	box-shadow: 2px 2px 5px #564521;
	}
.nick{
	line-height: 30px;
}
