.input1{
	
	width: 1000px;
	margin: auto;
	height: 70%;
	margin-bottom: 50px;
	background-color: #E8DDC5;
	border-radius: 3px;
	color: #6C3F00;
	border: 1px solid #6C3F00;
	
	}
	.fixmenu{
		margin-top: 20px;
		width: 400px;
		position: fixed;
		z-index: 99;
	}
	.fixmenu2{
		width: 400px;
		position: fixed;
		margin-top: 20px;
		background-color: #E8DDC5;
		
	}
	.title{
	width: 900px;
	height: 147px;
	margin-right: 50%;
	position: fixed;
	background-color: #E8DDC5;
	border-color: #DB740E;
	border-width: 1px;
			}
	.inpur{
	margin: 20px;
    white-space: nowrap;

	}
	
		
	
	.row{white-space: nowrap;
	word-wrap: break-word;
		margin-top: 2px;
		/*padding-bottom: 2px;
		width: 100%;*/
		background-color: #E8DDC5;
	}
	
	.rowprompt {
	display: inline-block; /* Строчно-блочный элемент */
	position: relative;
	float: left;
	/*overflow-x: visible;
	overflow-y: scroll;*/
   }
	.rowprompt:hover::after {
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 2%; top: 100%; /* Положение подсказки */
    z-index: 99999999999999999999999; /* Отображаем подсказку поверх других элементов */
    background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 11px; /* Размер текста подсказки */
    padding: 5px;  /*Поля */
    border: 1px solid #333; /* Параметры рамки */
    optarity: 0,1;
   }
	#rowtop{
	white-space: nowrap;
	word-wrap: break-word;
	margin-top: 75px;
	background-color: #E8DDC5;
	vertical-align: middle;
	font-size: 11px;	
	position: fixed;
	}
	.upcontable{
	margin-top: 0px;
	background-color: #E8DDC5;
	height: 160px;
	}
	.contable{
		
	/*margin-top: 200px;*/	
	background-color: #E8DDC5;
	}
	.leftop{
		margim-bottom: 2px;
		white-space: normal;
		display: inline-block;
		width: 400px;
		word-wrap: break-word;
		border-bottom: 1px solid #6C3F00;
	}
	.left{white-space: normal;
		display: inline-block;
		width: 200px;
		word-wrap: break-word;
		border-bottom: 1px solid #6C3F00;
	}
	.cent{
	margin: 0;
	white-space: normal;
	width: 60px;
	border-left: 1px dotted #6C3F00;
	border-bottom: 1px solid #6C3F00;
	display: inline-block;
	text-align: center;	
	background-color: #E8DDC5;
	
		}
	.right{
		border-left: 1px dotted #6C3F00;
		border-right: 1px dotted #6C3F00;
		border-bottom: 1px solid #6C3F00;
		width: 60px;
		display: inline-block;
	text-align: center;
	background-color: #E8DDC5;	
	}
	