 .topw2{
	height: 180px;
	}
	.cont{
		
	}

#priceform {
  width: 65px;
  text-align:right;
}

.input1{
	width: 70%;
	min-width: 500px;
	margin: auto;
	height: 70%;
	margin-bottom: 50px;
	background-color: #E8DDC5;
	border-radius: 3px;
	color: #6C3F00;
	border: 1px solid #6C3F00;
	}
	.input2{
	
	margin: 20px;
	margin-top: 30px;
	}
	.row1{white-space: nowrap;
		margin-top: 5px;
		border-bottom: 1px dotted #6C3F00;
		background-color: #E8DDC5;
	}
		.row2{
	white-space: nowrap;
	margin-top: 5px;
	border-bottom: 1px dotted #6C3F00;
	background-color: #F1EBDC;
	}
	.rowdown{white-space: nowrap;
		margin-top: 10px;
		border-bottom: 1px solid #6C3F00;
		background-color: #E8DDC5;}
	.left{
		display: inline-block;
		width: 30%;
	}
	.cent{
	/*width: 30%;*/
	display: inline-block;	
	}
	.to{
	width: 20%;
	display: inline-block;	
	}
	.price{
	width: 70px;
	display: inline-block;
	text-align: right;
	}
	.time{
	width: 100px;
	display: inline-block;
	text-align: left;
	}
	.siol{
		width: 30px;
	display: inline-block;
	text-align: left;
	white-space: nowrap;
	}
	.link{
	width: 70px;
	display: inline-block;
	}
	.right{
		width: 20%;
	display: inline-block;
	text-align: right;	
	}
	.yes{
	width: 20%;
	display: inline-block;
	text-align: right;
	color: #0F8B0D;
	}
	.no{
	width: 20%;
	display: inline-block;
	text-align: right;
	color: #D91414;
	}
