@charset "utf-8";
/* CSS Document */
*{
	transition-duration: 200ms;
}
input:hover, label:hover{
	cursor: pointer;
}
.p_title{
	width: 700px;
	margin: auto;
	height: 50px;
	font-size: 25px;
	letter-spacing: 2px;
}

.perc{
	width: 70px;
	height: 27px;
	margin-left: 5px;
	margin-right: 5px;
	background-repeat: no-repeat;
	background-image: url(../img/reward2.png);
	background-color: rgba(240,233,219,0.18);
	border-radius: 5px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-style: none;
	border-width: 0px;
	font-weight: bold;
	text-indent: 5px;
	background-size: cover;
	color: #6C3F00;
}

.select_area{
	/*background-color: #E8DDC5;*/
	width: 220px;
	margin-top: 10px;
}
.select_row{
	
}
.select_name{
	width: 200px;
	height: 40px;
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(../img/gray_back.png);
	background-size: contain;
	text-indent: 60px;
	line-height: 35px;
	/*font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;*/
}
.thanks{
	padding-right: 50px;
	height: 25px;
	text-align: right;
}
.select{
	/*width: 250px;*/
	height: 40px;
	display: inline-block;
	margin-left: 30px;
		
	
}

.select_input{
	width: 190px;
	height: 30px;
	background-color: rgba(240,233,219,0.18);
	border-radius: 5px;
	color: #6C3F00;
	border-style: none;
	border-width: 0px;
	background-image: url(../img/reward2.png);
	text-align: left;
	font-weight: bold;
	text-indent: 10px;
	background-repeat: no-repeat;
	/*font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	background-size: cover;
	opacity: 0,9;
	transition-duration: 200ms;
}

.select_input:hover{

	letter-spacing: 1px;
}
.select_input:focus,
.perc:focus {
outline: 0;
}
.siol_div{
	display: inline-block;
	margin-left: 10px;
}
.siol{
	width: 32px;
	height: 32px;
	border: 1px solid rgba(150,146,138,1.00);
	border-radius: 2px;
	background-image: url(../img/siol.png);
	background-size: contain;
	color: crimson;
	text-shadow: 1px 1px rgba(0,0,0,1.00);
	font-size: 15px;
	line-height: 20px;
}
.siol:hover{
	border: 1px solid #FFFFFF!important;
}
.top_t1_row{
	/*height: 50px;*/
	margin-top: 20px;
	padding-left: 20px;
	
}

.packs_area_t1{
	max-height: 350px;
	overflow-y: auto;
	margin-top: 10px;
	border-radius: 5px;
	border-left: 1px solid rgba(132,96,29,1.00);
	border-right: 1px solid rgba(132,96,29,1.00);
	border-bottom: 1px solid rgba(216,199,166,1.00);
	border-top: 1px solid rgba(132,96,29,1.00);
	background-color: #E9DECA;
	padding: 10px;
}
.pack_row0{
	border-bottom: 1px solid rgba(235,228,222,1.00);
}
.pack_row1{
	background-color: #EDE4D4;
	/*border-bottom: 1px solid rgba(235,228,222,1.00);*/
}
.pack_row0,
.pack_row1 {
  height: 45px;
}
.pack_row2{
	/*border-bottom: 1px solid rgba(235,228,222,1.00);*/

	background-color: #EDE4D4;
}
.pack_icon{
	width: 40px;
	height: 40px;
	border: 2px solid rgba(150,146,138,1.00);
	border-radius: 3px;
	text-decoration: none;
	color: white;
	
}
.pack_icon:hover {
	border: 3px solid #FFFFFF!important;	 
	 }
   .itdigit{
	position: absolute;
	bottom: 3px;
	right: 4px;
	text-shadow: -2px -2px 3px rgba(0,0,0,1.00);
	text-align: right;
	/*font-weight: lighter;*/
	font-size: 15px;
   }
.pack_name{
	width: 300px;
	display: inline-block;
	margin-left: 10px;
	overflow-x: hidden;
	/*line-height: 44px;*/
	text-shadow: 1px 1px 1px #FFFFFF;
	
}
@media screen and (max-width:800px){
	
	.pack_name{
	font-size: 15px;
	
}
}

/*
.pack_name:hover{
	margin-left: 10px;
	width: 310px;
	height: 45px;
}
*/
.zone_name{
	width: 200px;
	display: inline-block;
	margin-left: 20px;
}
.zone_row{
	width: 700px;
	height: 50px;
	font-weight: bold;
	font-size: 20px;
	line-height: 70px;

}
.zname{
	font-size: 12px;
}
.zone_area{
	
}

.itemprompt {
	display: inline-block;
	position: relative;
	/*float: left;*/
	margin-right: 4px;
	
   }
   .itemprompt:hover::after {
	white-space: normal;
	max-width: 200px;
	content: attr(data-title); /* Выводим текст */
	position: absolute; /* Абсолютное позиционирование */
	left: 2%;
	top: 100%; /* Положение подсказки */
	z-index: 99999999999999999999999; /* Отображаем подсказку поверх других элементов */
	background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
	font-family: Arial, sans-serif; /* Гарнитура шрифта */
	font-size: 15px; /* Размер текста подсказки */
	padding: 5px;  /*Поля */
	border: 1px solid #333; /* Параметры рамки */
	opacity: 0,9;
	border-radius: 2px;
	line-height: 15px;
   }

.col0{
	width: 150px;
	display: inline-block;
	/*line-height: 35px;*/
}
.colz,
.colz2
{
	display: inline-block;
	/*background-repeat: no-repeat;
	background-image: url(../img/gray_back.png);
	background-size: contain;*/
	font-size: 14px;
	/*line-height: 35px;*/	
	/*font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;*/
}

.colz{
	width: 200px;
	position: relative;
	bottom: 10px;
	/*text-indent: 15px;
	text-align: center;*/
}
.colz2{
	width: 200px;
	text-indent: 10px;
}
.col2{
	display: inline-block;
	
	
}
.col3{
	display: inline-block;
}
.price_col{
	width: 180px;
	display: inline-block;
	line-height: 35px;
	text-shadow: 1px 1px 1px #FFFFFF;
}

.price_col2{
	width: 150px;
	display: inline-block;
	line-height: 35px;
}

.packtable_login{
	display: inline-block;
	/*float: left;*/
	width: 250px;
	text-align: right;
	font-size: 14px;
	/*padding-top: 50px;*/
}

.crft_button{
	background-image: url(../img/default.png);
	width: 140px;
	height: 30px;
	background-repeat: no-repeat;
	background-size: 140px 30px;
	border: none;
	border-radius: 4px;
	color: #4B3A23;
	font-weight: bold;
	margin-left: 40px;
}

.crft_button:hover{
	border: 1px solid rgba(194,164,38,1.00);
	-webkit-box-shadow: 1px 1px 1px rgba(30,26,12,1.00);
	box-shadow: 1px 1px 1px rgba(30,26,12,1.00);
}