@charset "utf-8";
/* CSS Document */

.topw{
	height: 180px;
	width: 100%;	
	left: 30%;
	}

.input2{
	/*width: 1000px;*/
	margin: auto;
	min-height: 500px;
	margin-bottom: 50px;
	background-color: #F2ECDE;
	border-radius: 3px;
	color: #6C3F00;
	border: 2px solid rgba(71,46,10,0.88);
	background-image: url(../img/windows/win-head2.png);
	background-repeat: no-repeat;
	background-size: contain;
	padding: 10px;
	}

.input1{
 width: 430px;
 height: 500px;
 margin: auto;
 /*background-color: #E8DDC5;*/
 padding: 1px;
}
.inpur{
	/*margin: 20px;
    white-space: nowrap;
	margin-top: 150px;*/
    /*background-color: #E8DDC5;*/
	}
.winhead{
	height: 50px;
}