@charset "utf-8";
/* CSS Document */
.question{
	
}
.answer{
	
}
#all_info {
	overflow-y: auto;
}
#qarea {
	width: 95%;
	margin: 0 auto 0 auto;
	
}

.comment {
	
	box-sizing: border-box;
}

.comments_row {
	width: 95%;
	margin: 0 auto;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 14px;
}

.qa {
	
	width: 100%;
	
}
