.search_area{
			height: 30px;
			width: 368px;
			margin: 0px;
			/*position: relative;*/
		}
	.simg{
	 width: 42px;
	height: 42px;
	background: #000000;
	padding: 0px;
	display: inline-block;	
	}
	   #rent {
	width: 368px; /* Ширина слоя */
	margin: 140px auto 100px;
	color: #6c3f00;
	min-height: 582px;
	height: 100%;
	align-content: center;
	text-align: left;
	background: url(../img/craft_bg4a.png) 0 0 no-repeat,
	url(../img/repbg.png) 0 0 repeat-y,
	url(../img/footrent.png) 0 100% no-repeat;
   }
   
		#search_box{
	position: absolute;		
	height: 18px;
	width: 236px;
	padding: 0px;
	margin-left: 19px;
	margin-right: 0px;
	margin-top: 6px;
	margin-bottom: 0px;
	background-color: #e8ddc5;
	/*background-image: url(../img/searinput_bg.png);*/
	border-color: #e8ddc5;
	border-width: 0;	/*border_radius: 5px;*/
		}
    #search_bt{
	position: relative;
	margin-right: 17px;
	border-width: 0;
	background-image: url(../img/search_bt.png);
	width: 80px;
	height: 30px;
	display: inline-block;
	float: right;
    }
		#search_advice_wrapper{	
	margin-left: 16px;
	max-height: 400px;
	overflow-y: scroll;
	display: none;
	width: 344px;
	background-color: #f6eedc;
	color: #6c3f00;
	-moz-opacity: 0.95;
	opacity: 0.95;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=95);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=95);
	/*filter: alpha(opacity=95);*/
	z-index: 999;
	position: relative;	
	top: 24px;
	left: 0px;
	vertical-align: middle;
	text-indent: 5px;
		}

		#search_advice_wrapper .advice_variant{
	cursor: pointer;
	padding: 5px;
	text-align: left;
	border-bottom-color: rgba(172,160,107,1.00);
	border-spacing: 1px 0px;
		}
		#search_advice_wrapper .advice_variant:hover{
			color:#FEFFBD;
			background-color:#818187;
		}
		#search_advice_wrapper .active{
			cursor: pointer;
			padding: 5px;
			color:#FEFFBD;
			background-color:#818187;
		}
		.for1{
	margin-top: 15px;
	text-align: left;
	width: 300px;
	height: 22px;
		}
		.hirec{
	margin-top: 10px;
	min-height: 55px;
	max-height: 200px;
	width: 300px;
	/*background: url("../img/hirec.png");*/
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
		}
		.inhirec{
	white-space: nowrap;		
	max-height: 60px;
	min-width: 300px;
	
	
	
		}
		
		  .money_area{
	
	height: 5px;
	width: 368px;
	margin: 0px;
		}
	.money-line {
 margin-top: 2px;
 display:inline-block;
}	
 .money_area_down{
	background-image: url("../img/money.png");
	height: 20px;
	width: 230px;
	margin-left: 15px;
	display: block;
	background-repeat: no-repeat;
		}
   #gold {
	border-color: #e2dec6; 
	border-width:0;
	background-color: rgba(226,222,198,0.00);
	color: #6c3f00;
	margin-left: 19px;
	margin-bottom: 20px;
	align-content: right;
	/*border-radius: 4px;*/
	width: 83px;
	/*height: 12px;*/
	input::-webkit-outer-spin-button,; 	
	text-align: right;
}
	#silbro {
	margin-left: 25px;
	margin-bottom: 5px;
	border-color: #e2dec6; 
	border-width:0;
	text-align: right;	
	background-color: rgba(226,222,198,0.00);
	color: #6c3f00;
	align-content: left;
	border-radius: 4px;
	width: 25px;
	min-width: 20px;
	/*height: 12px;*/
	input::-webkit-outer-spin-button,}
	#gold_down {
	border-color: #e2dec6;
	border-width: 0;
	background-color: rgba(226,222,198,0.00);
	color: #6c3f00;
	margin-right: 15px;
	margin-bottom: 3px;
	align-content: right;
	/*border-radius: 4px;*/
	width: 87px;
	/*height: 12px;*/
	input::-webkit-outer-spin-button,; 	
	text-align: right;
}
	#silbro_down {
	margin-right: 25px;
	margin-bottom: 3px;
	border-color: #e2dec6; 
	border-width:0;
	text-align: right;	
	background-color: rgba(226,222,198,0.00);
	color: #6c3f00;
	align-content: left;
	border-radius: 4px;
	width: 30px;
	min-width: 25px;
	height: 12px;
	input::-webkit-outer-spin-button,}
	
	#staff {
	margin-left: 25px;
	margin-bottom: 3px;
	border-color: #e2dec6; 
	border-width:0;
	text-align: right;	
	background-color: #e2dec6;
	color: #6c3f00;
	align-content: left;
	border-radius: 4px;
	width: 25px;
	min-width: 20px;
	height: 12px;
	
	}
		
		.item_name{
	margin-top: 30px;
	height: 53px;
	width: 300px;
	color: #8D6E43;
	font-size: 14px;
	text-align:left;
		}
		.item_top{
		height: 87px;
		width: 300px;	
		}
		.description{
	height: 100px;
	width: 225px;
	float: riht;
	display: inline-block;
	clear: left;
	overflow-y: scroll;
	text-align: left;
		}
		.description2{
	max-height: 200px;
	margin-top: 20px;
	/*float: riht;*/
	/*display: inline-block;*/
	/*clear: left;*/
	overflow-y: scroll;
	text-align: left;
	width: 323px;
	margin-bottom: 20px;
	
		}
		.description-looked{
	max-height: 200px;
	margin-top: 20px;
	/*float: riht;*/
	/*display: inline-block;*/
	/*clear: left;*/
	overflow-y: scroll;
	text-align: left;
	width: 323px;
	/*margin-bottom: 20px;*/
	
		}
		.description2_in{
		max-height: 200px;
	width: 323px;
	/*float: riht;*/
	display: inline-block;
	clear: left;
	text-align: left;
		}
		.mattop{
	height: 23px;
	color: #8D6E43;
	font-size: 14px;
	text-align: left;
	width: 323px;
		}
		.matcontent{
	width: 323px;
	height: 103px;
	background: url("../img/matcontent.png");
			
			
		}
		#icon {
		width: 40px;
		height: 40px;
		alt: "img";
		}
		
.confirm{
	width: 300px;
	margin:auto;
		
}
#ok{
	position: relative;
	margin-right: 17px;
	border-width: 0;
	background-image: url(../img/ok.png);
	width: 82px;
	height: 32px;
	display: inline-block;
	border-color: #D6CAB0;
	/*float: right;*/
    }
	#cancel{
	position: relative;
	margin-left: 17px;
	border-width: 0;
	background-image: url(../img/cancel.png);
	width: 82px;
	height: 32px;
	display: inline-block;
	
    }
	.rent_count{
	matgin-top: 5px;
	matgin-buttom: 10px;
	width: 368px;
	background-image: url(../img/repbg.png);
	min-height: 32px;			
	}
	.rent_count_in{
	text-align: right;
	width: 323px;
				
	}
	.craftcost{
	width: 368px;
	background-image: url(../img/repbg.png);			
	}
	.craftcostin{
	text-align: right;
	width: 323px;
				
	}
	
	.lookedin{
	width: 300px;
	/*min-height: 200px;*/
	text-align: left;
	}
	.looked{
	width: 368px;
	/*min-height: 400px;*/
	float:left;	
	background: 
	url(../img/footrent.png) 0 100% no-repeat,
	url(../img/repbg.png) 0 0 repeat-y;
	padding-bottom: 100px;
	}
	.fragm{
	text-align: left;	
	}