@charset "utf-8";
/* CSS Document */


.persrow {
	display: flex;
	justify-content: space-between;
	align-content:flex-end;
	padding: 0.5em 0 0 0;
}
@media screen and (max-width:800px){
	.persrow {
		flex-wrap: wrap; 
	}
}
.nicon_out {
	display: flex;
	justify-content: flex-start;
	
}

.nicon_out label {
	display: block;
}

.nicon_out input[type="checkbox"],
.nicon_out input[type="radio"] {
	display: none;
}

.nicon_out input[type="checkbox"]:checked + label,
.nicon_out input[type="radio"]:checked + label{
	border-radius: 10px;
	box-shadow: 0 0 3px 0 black;
}

.nicon_out .navicon:hover {
	border-radius: 30px;
}

.navicon:hover {
	box-shadow: 0px 0px 4px 2px green;
}

.persnames {
	/*padding: 0 0 0 1em;*/
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.persnames > div {
	padding-left: 10px;
}
input[type="text"] {
	width: 270px;
	color: #6c3f00;
	border: none;
	background: none;
	background-image: url("../img/reward2.png");
	padding: 10px 2em 8px 2em;
	outline: none;
	background-repeat: no-repeat;
	background-size: 270px 33px;
	
}

input[type="text"]:focus {
	background-image: url("../img/reward.png");
}

#Nick_Ok {
	font-size: 20px;
}
.small_del {
	display: none;
}

#items {
	width: 100%;
}

#rent {
	height: 100%;
	/*padding: 3% 0 1% 1%;*/
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	align-items:stretch;
	flex-direction: column;
	justify-content: space-between;
	
	
}
.rent_in {
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	flex-shrink: 2;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	
	/*padding-top: 2em;*/
	height: 100%;
}
.navcustoms {
	padding: 3%;
}

main {
	height: 100%;
	position: relative;
}

.all_info_area {
	flex-shrink: 2;
	height: 100%;
}

.all_info {
	display: flex;
	
	justify-content: flex-start;
	height: 100%;
	/*position: relative;*/
	overflow: hidden;
}
.prmenu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

select {
	border: 1px solid;
	background: none;
	color: #6c3f00;
	height: 2em;
	padding: 0 1em;
	box-sizing: content-box;
	font-size: 1em;
	outline: none;
	text-align: right;
}
select:hover {
	
	border: 1px solid;
	border-color: #2d5519;
}
.pricecell_date_row {
	/*display: grid;*/
	
	width: 75%;
	margin: auto;
}

.item_name{
	cursor: copy;
}
/*
.price_object{
	border-radius: 3px;
	background-color: #b17f0017;
	padding-left: 1em;
}

 */